<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
       PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.rena.mapper.BookMapper">

   <!--增加一个Book-->
   <insert id="addBook" parameterType="Book">
      insert into ssmbuild.book(book_name,book_counts,detail)
      values (#{bookName}, #{bookCounts}, #{detail})
   </insert>

   <!--根据id删除一个Book-->
   <delete id="deleteBookById" parameterType="int">
      delete from ssmbuild.book where book_id=#{bookId}
   </delete>

   <!--更新Book-->
   <update id="updateBook" parameterType="Book">
      update ssmbuild.book
      set book_name = #{bookName},book_counts = #{bookCounts},detail = #{detail}
      where book_id = #{bookId}
   </update>

   <!--根据id查询,返回一个Book-->
   <select id="queryBookById" resultType="Book" parameterType='int' >
      select * from ssmbuild.book
      where book_id = #{bookId}
   </select>

   <!--查询全部Book-->
   <select id="queryAllBook" resultType="Book">
      SELECT * from ssmbuild.book
   </select>

</mapper>